<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon bi bi-gear-fill"></i>
        <p>
            Mantenedores
            <i class="nav-arrow bi bi-chevron-right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'gestion_tic:marca_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Marcas</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:categoria_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Categorías</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:subcategoria_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Subcategorías</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:modelo_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Modelos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:propietario_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Propietarios</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:licenciaos_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Licencias SO</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:microsoftoffice_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Microsoft Office</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:sistemaoperativo_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Sistemas Operativos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:tipocelular_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Tipos Celular</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:tipocomputador_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Tipos Computador</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:tipoimpresora_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Tipos Impresora</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:toner_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Tintas / Toner</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:jefetic_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Jefes TIC</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:contrato_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Contratos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:puestotrabajo_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Puestos de Trabajo</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:ips_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Direcciones IP</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon bi bi-pc-display"></i>
        <p>
            Mantenedores
            <i class="nav-arrow bi bi-chevron-right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'gestion_tic:computador_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Computadores</p>
            </a>
        </li>
    </ul>
</li>
