<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon bi bi-gear-fill"></i>
        <p>
            Mantenedores
            <i class="nav-arrow bi bi-chevron-right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'gestion_tic:marca_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Marcas</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'gestion_tic:modelo_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Modelos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:propietario_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Propietarios</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:jefetic_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Jefes TIC</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:contrato_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Contratos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:ips_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Direcciones IP</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:tipo_activo_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Tipos de Activos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:campos_tipo_activos' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Campos de Activos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gestion_tic:opcion_campo_list' %}" class="nav-link">
                <i class="nav-icon bi bi-circle"></i>
                <p>Opciones de Campos</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon bi bi-pc-display"></i>
        <p>
            Equipos
            <i class="nav-arrow bi bi-chevron-right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        {% for activo in sidebar_activos %}
            <li class="nav-item">
                <a href="{% url 'gestion_tic:activo_list' %}?tipo={{ activo.pk }}" class="nav-link">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>{{ activo.nombre }}</p>
                </a>
            </li>
        {% empty %}
            <li class="nav-item">
                <a href="#" class="nav-link disabled">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>Sin activos</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</li>

<li class="nav-item">
    <a href="{% url 'gestion_tic:movimientos_busqueda' %}" class="nav-link">
        <i class="nav-icon bi bi-arrow-left-right"></i>
        <p>
            Movimientos Activo
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'gestion_tic:activo_list_asignado' %}" class="nav-link">
        <i class="nav-icon bi bi-file-earmark-pdf"></i>
        <p>
            Equipos Asignados
        </p>
    </a>
</li>

