{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
    {% include 'tickets/sidebar.html' %}
{% endblock %}

{% block title %}Dashboard de Soporte{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Resumen por Áreas -->
        {% for area_data in stats_areas %}
            <div class="row mt-2">
                <div class="col-12">
                    <h4 class="mb-3">Área: {{ area_data.area }} - {{ area_data.area_establecimiento }}</h4>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box text-bg-success">
                        <div class="inner">
                            <h3>{{ area_data.ABIERTO }}</h3>
                            <p>Abiertos</p>
                        </div>
                        <div class="icon">
                            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M3.75 5.25A2.25 2.25 0 016 3h12a2.25 2.25 0 012.25 2.25v2.03a2.25 2.25 0 000 4.44v2.03A2.25 2.25 0 0118 18H6a2.25 2.25 0 01-2.25-2.25v-2.03a2.25 2.25 0 000-4.44V5.25zM9 8.25a.75.75 0 000 1.5h6a.75.75 0 000-1.5H9zm0 3a.75.75 0 000 1.5h3a.75.75 0 000-1.5H9z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box text-bg-warning">
                        <div class="inner">
                            <h3>{{ area_data.EN_PROCESO }}</h3>
                            <p>En Proceso</p>
                        </div>
                        <div class="icon">
                            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M3.75 5.25A2.25 2.25 0 016 3h12a2.25 2.25 0 012.25 2.25v2.03a2.25 2.25 0 000 4.44v2.03A2.25 2.25 0 0118 18H6a2.25 2.25 0 01-2.25-2.25v-2.03a2.25 2.25 0 000-4.44V5.25zM9 8.25a.75.75 0 000 1.5h6a.75.75 0 000-1.5H9zm0 3a.75.75 0 000 1.5h3a.75.75 0 000-1.5H9z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box text-bg-info">
                        <div class="inner">
                            <h3>{{ area_data.CERRADO }}</h3>
                            <p>Cerrados</p>
                        </div>
                        <div class="icon">
                            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M3.75 5.25A2.25 2.25 0 016 3h12a2.25 2.25 0 012.25 2.25v2.03a2.25 2.25 0 000 4.44v2.03A2.25 2.25 0 0118 18H6a2.25 2.25 0 01-2.25-2.25v-2.03a2.25 2.25 0 000-4.44V5.25zM9 8.25a.75.75 0 000 1.5h6a.75.75 0 000-1.5H9zm0 3a.75.75 0 000 1.5h3a.75.75 0 000-1.5H9z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box text-bg-danger">
                        <div class="inner">
                            <h3>{{ area_data.RECHAZADO }}</h3>
                            <p>Rechazados</p>
                        </div>
                        <div class="icon">
                            <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M3.75 5.25A2.25 2.25 0 016 3h12a2.25 2.25 0 012.25 2.25v2.03a2.25 2.25 0 000 4.44v2.03A2.25 2.25 0 0118 18H6a2.25 2.25 0 01-2.25-2.25v-2.03a2.25 2.25 0 000-4.44V5.25zM9 8.25a.75.75 0 000 1.5h6a.75.75 0 000-1.5H9zm0 3a.75.75 0 000 1.5h3a.75.75 0 000-1.5H9z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- Gráfico de Columnas -->
        <div class="row mt-2">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Soportes por Usuario</h3>
                    </div>
                    <div class="card-body">
                        <div id="column-chart" style="min-height: 315px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const barData = JSON.parse('{{ bar_chart_data_json|safe }}');
            const column_chart_options = {
                series: [
                    {
                        name: 'Abiertos',
                        data: barData.map(item => item.abiertos)
                    },
                    {
                        name: 'Cerrados',
                        data: barData.map(item => item.cerrados)
                    }
                ],
                chart: {
                    type: 'bar',
                    height: 350,
                    toolbar: {
                        show: false
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '55%',
                        borderRadius: 5,
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                xaxis: {
                    categories: barData.map(item => item.usuario),
                },
                fill: {
                    opacity: 1
                },
                colors: ['#6f42c1', '#20c997'],
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val + " tickets"
                        }
                    }
                }
            };

            const column_chart = new ApexCharts(document.querySelector("#column-chart"), column_chart_options);
            column_chart.render();
        });
    </script>
{% endblock %}
