{% extends 'base.html' %}
{% load query_tags %}
{% block sidebar %}
    {% include 'tickets/sidebar.html' %}
{% endblock %}

{% block buttons %}
    <a href="{% url 'soporte:ticket_editor_list' %}"
       class="btn btn-sm btn-primary"
       title="Volver">
        <i class="bi bi-arrow-left-circle me-1"></i>
        Volver
    </a>
{% endblock %}

{% block title %}Gestión de Tickets{% endblock %}
{% block content %}
    <div class="row mx-2">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row g-2 align-items-center">
                        <div class="col-12">
                            <form method="get" class="d-flex flex-wrap justify-content-md-end gap-2">

                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">
                                        <i class="bi bi-search" aria-hidden="true"></i>
                                    </span>
                                    {{ filter_form.numero_ticket }}
                                    {{ filter_form.titulo }}
                                    {{ filter_form.area_soporte }}
                                    {{ filter_form.estado }}

                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-funnel-fill me-1"></i>
                                        Filtrar
                                    </button>
                                    <a href="{% url 'soporte:ticket_list' %}" class="btn btn-secondary">
                                        <i class="bi bi-arrow-clockwise me-1"></i>
                                        Limpiar
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle m-0" role="table">
                            <thead>
                            <tr>
                                <th scope="col">N° Ticket</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Funcionario</th>
                                <th scope="col">Área</th>
                                <th scope="col">Asignado a</th>
                                <th scope="col">Fecha Creación</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ticket in page_obj %}
                                <tr>
                                    <td>{{ ticket.numero_ticket }}</td>
                                    <td>{{ ticket.titulo }}</td>
                                    <td><span class="badge bg-danger">{{ ticket.estado|default:'-' }}</span></td>
                                    <td>{{ ticket.funcionario|default:'-' }}</td>
                                    <td>{{ ticket.area_soporte.nombre|default:'-' }}</td>
                                    <td>{{ ticket.asignado_a|default:'-' }}</td>
                                    <td>{{ ticket.created_at|date:"d/m/Y H:i" }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center text-body-secondary py-4">
                                        No se encontraron funcionarios para la búsqueda.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <div class="float-start pt-1 fs-7 text-body-secondary">
                        Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ paginator.count }}
                        funcionarios
                    </div>
                    {% if is_paginated %}
                        <ul class="pagination pagination-sm m-0 float-end">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?{% query_transform page=page_obj.previous_page_number %}"
                                       aria-label="Anterior">«</a>
                                </li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }}</span>
                                    </li>
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?{% query_transform page=i %}">
                                            {{ i }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?{% query_transform page=page_obj.next_page_number %}"
                                       aria-label="Siguiente">»</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}