<li class="nav-item">
    <a href="{% url 'soporte:ticket_dashboard' %}" class="nav-link">
        <i class="nav-icon bi bi-speedometer2"></i>
        <p>Dashboard</p>
    </a>
</li>

<li class="nav-item">
    <a href="{% url 'soporte:ticket_list' %}" class="nav-link">
        <i class="nav-icon bi bi-list-ul"></i>
        <p>Lista de mis Soportes</p>
    </a>
</li>

<li class="nav-item">
    <a href="{% url 'soporte:ticket_create' %}" class="nav-link">
        <i class="nav-icon bi bi-file-earmark-plus"></i>
        <p>Nuevo Soporte</p>
    </a>
</li>

{% if request.user.perfil_soporte %}
    <li class="nav-item">
        <a href="{% url 'soporte:ticket_editor_list' %}" class="nav-link">
            <i class="nav-icon bi bi-tools"></i>
            <p>Gestión de Soportes</p>
        </a>
    </li>
{% endif %}