{% extends 'base.html' %}
{% load query_tags %}

{% block buttons %}
    <a href="{% url 'bodega:bodega_create' %}"
       class="btn btn-sm btn-primary"
       title="Nuevo Registro">
        <i class="bi bi-plus-circle me-1"></i>
        Nuevo Registro
    </a>
{% endblock %}

{% block title %}Lista de Bodegas{% endblock %}

{% block content %}
    <div class="app-content">
        <div class="container-fluid">
            <div class="row">

                {% for bodega in page_obj %}
                    <div class="col-lg-3 col-6">

                        <div class="small-box"
                             style="background-color: {{ bodega.color }}; color: {{ bodega.texto_color }};">

                            <div class="inner">
                                <h4>{{ bodega.nombre }}</h4>

                                <p>{{ bodega.descripcion|truncatechars:50 }}</p>
                            </div>

                            {{ bodega.icono|safe }}

                            <a href="{% url 'bodega:producto_list' %}?bodega={{ bodega.id }}"
                               class="small-box-footer"
                               style="color: {{ bodega.texto_color }};">
                                Ingresar
                                <i class="bi bi-link-45deg"></i>
                            </a>

                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}