{% if instance_bodega %}
    <li class="nav-item">
        <a href="{% url 'bodega:bodega_list' %}" class="nav-link">
            <i class="nav-icon bi bi-building"></i>
            <p> Mis Bodegas</p>
        </a>
    </li>
    <hr>
    <li class="nav-item text-center">
        <p>
            <strong class="p-1 text-black shadow-lg"
                    style="background-color: #fcc24e">
                BODEGA - {{ instance_bodega.nombre|upper }}
            </strong>
        </p>
    </li>
    <li class="nav-item">
        <a href="{% url 'bodega:producto_list' %}?bodega={{ instance_bodega.id }}" class="nav-link">
            <i class="nav-icon bi bi-box-seam"></i>
            <p>Productos</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'bodega:stock_list' %}?bodega={{ instance_bodega.id }}" class="nav-link">
            <i class="nav-icon bi bi-boxes"></i>
            <p>Stock</p>
        </a>
    </li>
{% endif %}