{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Error de Enlace{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <a class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover" href="#">
                    <img class="mb-0" src="{% static 'core/media/logo_trabajando.png' %}" alt="" width="250"
                         height="100">
                </a>
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg text-danger fw-bold">Enlace No Válido</p>
                <div class="alert alert-danger">
                    {{ error_msg|default:"El enlace de recuperación ya no es válido o ha expirado." }}
                </div>
                <p class="text-center small">Si aún necesita recuperar su contraseña, por favor solicite un nuevo
                    enlace.</p>

                <p class="mt-3 mb-1 text-center">
                    <a href="{% url 'recuperacion_password:password_recovery_request' %}" class="btn btn-primary w-100">Solicitar
                        Nuevo
                        Enlace</a>
                </p>
                <p class="mt-2 mb-1 text-center">
                    <a href="{% url 'usuarios:login' %}">Volver al Inicio de Sesión</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
