{% for item in sidebar_menu_items %}
    <li class="nav-item">
        <a href="{% url 'agenda:index' %}?establecimiento={{ item.establecimiento.id }}" class="nav-link">
            <i class="nav-icon bi bi-building"></i>
            <p>{{ item.establecimiento.nombre }}</p>
        </a>
    </li>
{% endfor %}

<li class="nav-item">
    <a href="" class="nav-link">
        <i class="nav-icon bi bi-building"></i>
        <p>Mis Anexos</p>
    </a>
</li>
{% if request.user.is_authenticated and request.user.perfilagenda.editor and request.user.perfilagenda.mantenedores %}
    <li class="nav-header">MANTENEDORES</li>

    <li class="nav-item">
        <a href="{% url 'agenda:mantenedores' tipo='direccion' %}" class="nav-link">
            <i class="nav-icon bi bi-diagram-3"></i>
            <p>Direcciones</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'agenda:mantenedores' tipo='servicio' %}" class="nav-link">
            <i class="nav-icon bi bi-building"></i>
            <p>Servicios</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'agenda:mantenedores' tipo='ubicacion' %}" class="nav-link">
            <i class="nav-icon bi bi-geo-alt"></i>
            <p>Ubicaciones</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'agenda:organigrama' %}" class="nav-link">
            <i class="nav-icon bi bi-diagram-3"></i>
            <p>Organigrama</p>
        </a>
    </li>
{% endif %}
